[Unit]
Description=Send MQTT Payload from DDS238-1ZN to ZABBIX
After=network.target mosquitto.service

[Service]
PIDFile=/run/%I.pid
WorkingDirectory=/usr/local/bin

ExecStart=/usr/local/bin/dds238_1zn_mqtt.py
KillSignal=SIGINT
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
